<div class="container">
    <div class="topbar">
        <h1>Employee List</h1>
        <!-- add empployee button start -->
        <button type="button" class="button" (click)="addEmployee()">Add Employee</button>
        <!-- add employee button end-->
    </div>
    <!-- filter from start -->
    <div class="filter">
        <form [formGroup]="filterForm" (ngSubmit)="filterEmp()">
            <div class="fields-row">
                <div class="field-wrap">
                    <label>Name</label>
                    <input type="text" class="inputfield" placeholder="Search by name" formControlName="name" />
                </div>
                <div class="field-wrap">
                    <label>Job Title</label>
                    <select class="inputfield" formControlName="jobtitle">
                        <option value="">
                            Select Job Title
                        </option>
                        <option value="Manager">Manager</option>
                        <option value="Tech Lead">Tech Lead</option>
                        <option value="Software Developer">Software Developer</option>
                        <option value="Quality Analysis">Quality Analysis</option>
                        <option value="UI Designer">UI Designer</option>
                    </select>
                </div>
                <div class="field-wrap">
                    <label>Age</label>
                    <input class="inputfield" placeholder="Age" type="number" formControlName="age" />
                </div>
                <div class="field-wrap">
                    <label>Start Date</label>
                    <input class="inputfield" type="date" formControlName="startdate" />
                </div>
                <div class="field-wrap">
                    <label>End Date</label>
                    <input type="date" class="inputfield" formControlName="enddate" />
                </div>
            </div>
            <!-- filter buttons start -->
            <div class="filter-button-wrap">
                <button type="submit" class="action-btn">
                    <img src="assets/images/filter_icon.svg" alt="">
                </button>
                <button type="button" class="action-btn" (click)="resetFilter()">
                    <img src="assets/images/clear_icon.svg" alt="">
                </button>
            </div>
            <!-- filter button end -->
        </form>
    </div>
    <!-- filter form end here -->
    <div class="emp-wrapper">
        <!-- Employee list table start -->
        <div class="emp-list-table">
            <table>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Job Title</th>
                        <th>Age</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngIf="empList.length else noEmployee">
                        <tr *ngFor="let emp of empList; let i = index">
                            <td>{{i+1}}</td>
                            <td>{{emp.firstname +' '+ emp.lastname}}</td>
                            <td>{{emp.jobtitle}}</td>
                            <td>{{emp.age}}</td>
                            <td>{{emp.startdate}}</td>
                            <td><ng-container
                                    *ngIf="emp.enddate; else working">{{emp.enddate}}</ng-container><ng-template
                                    #working><span class="badge success">Currently Working</span></ng-template></td>
                            <td>
                                <button type="button" (click)="viewEmployee(emp)" class="action-btn view-btn mr-2"><img
                                        src="assets/images/view_icon.svg" alt="View"></button>
                                <button type="button" (click)="deleteEmployee(empList, emp.id)"
                                    class="action-btn delete-btn"><img src="assets/images/delete_icon.svg"
                                        alt="Delete"></button>
                            </td>
                        </tr>
                    </ng-container>
                    <ng-template #noEmployee>
                        <td colspan="7">
                            <p class="txt-center">No employee found</p>
                        </td>
                    </ng-template>
                </tbody>
            </table>
        </div>
        <!-- Employee list table end -->
    </div>
</div>

<div class="modal-wrapper" [class.opened]="isOpened">
    <div class="modal">
        <div class="modal-header">
            <!-- <h3>Modal Header</h3> -->
            <button class="close-modal" type="button" (click)="closeModal()">
                <img src="assets/images/clear_icon.svg" alt="Close" title="Close">
            </button>
        </div>
        <div class="modal-body">
            <form [formGroup]="updateEmpDetailForm" (ngSubmit)="updateEmp()">
                <div class="field-group">
                    <label>First Name</label>
                    <input type="text" class="inputfield" formControlName="firstname">
                    <div *ngIf="
                updateFrmValition['firstname'].touched &&
                updateFrmValition['firstname'].invalid
              " class="err-msg">
                        <div *ngIf="
                  updateFrmValition['firstname'].errors &&
                  updateFrmValition['firstname'].errors['required']
                ">
                            Please enter your firstname.
                        </div>
                    </div>
                </div>
                <div class="field-group">
                    <label>Last Name</label>
                    <input type="text" class="inputfield" formControlName="lastname">
                    <div *ngIf="
                updateFrmValition['lastname'].touched &&
                updateFrmValition['lastname'].invalid
              " class="err-msg">
                        <div *ngIf="
                  updateFrmValition['lastname'].errors &&
                  updateFrmValition['lastname'].errors['required']
                ">
                            Please enter your lastname.
                        </div>
                    </div>
                </div>
                <div class="field-group">
                    <label>Age</label>
                    <input type="number" class="inputfield" formControlName="age">
                    <div *ngIf="
                updateFrmValition['age'].touched &&
                updateFrmValition['age'].invalid
              " class="err-msg">
                        <div *ngIf="
                  updateFrmValition['age'].errors &&
                  updateFrmValition['age'].errors['required']
                ">
                            Please enter your age.
                        </div>
                    </div>
                </div>
                <div class="field-group">
                    <label>Job Title</label>
                    <select class="inputfield" formControlName="jobtitle">
                        <option value="">
                            Select Job Title
                        </option>
                        <option value="Manager">Manager</option>
                        <option value="Tech Lead">Tech Lead</option>
                        <option value="Software Developer">Software Developer</option>
                        <option value="Quality Analysis">Quality Analysis</option>
                        <option value="UI Designer">UI Designer</option>
                    </select>
                    <div *ngIf="
                updateFrmValition['jobtitle'].touched &&
                updateFrmValition['jobtitle'].invalid
              " class="err-msg">
                        <div *ngIf="
                  updateFrmValition['jobtitle'].errors &&
                  updateFrmValition['jobtitle'].errors['required']
                ">
                            Please select job title.
                        </div>
                    </div>
                </div>
                <div class="field-group">
                    <label>Start Date</label>
                    <input type="date" class="inputfield" formControlName="startdate">
                    <div *ngIf="
                updateFrmValition['startdate'].touched &&
                updateFrmValition['startdate'].invalid
              " class="err-msg">
                        <div *ngIf="
                  updateFrmValition['startdate'].errors &&
                  updateFrmValition['startdate'].errors['required']
                ">
                            Please enter your start date.
                        </div>
                    </div>
                </div>
                <div class="field-group">
                    <label>End Date</label>
                    <input type="date" class="inputfield" formControlName="enddate">
                </div>
                <div class="frm-button">
                    <button class="button" [disabled]="!updateEmpDetailForm.valid" type="submit">Update</button>
                    <button class="button light-button ml-5" (click)="closeModal()" type="reset">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="success-msg" *ngIf="successMsg">
    Updated Successfully!
</div>