
.filter{
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #eee;
    margin-bottom: 30px;
}
.filter form{
    position: relative;
    padding-right: 85px;
}
.filter form .filter-button-wrap{
    position: absolute;
    right: 0;
    bottom: 1px;
}
.filter form .filter-button-wrap button{
    height: 32px;
    width: 32px;
}
.filter .fields-row{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -6px;
}
.filter .fields-row .field-wrap{
    width: 20%;
    padding: 0 6px;
}

.emp-list-table table{
    width: 100%;
    border-collapse: collapse;
 }
.emp-list-table table th{
    color: #000;
    text-align: left;
}
.emp-list-table table td,
.emp-list-table table th{
    border: 1px solid #eee;
    padding: 10px;
}

.action-btn{
    background-color: #0478fc;
    display: inline-block;
    line-height: 0;
    padding: 5px;
    border-radius: 6px;
    cursor: pointer;
}
.action-btn + .action-btn {margin-left: 5px;}
.action-btn img{
    width: 18px;
    height: 18px;
}

.action-btn.delete-btn{
    background-color: #f00000;
}

.modal-wrapper{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    background-color: rgba(0,0,0,0.5);
    display: none;
    overflow-y: auto;
}
.modal-wrapper.opened{
    display: block;
}
.modal-wrapper .modal{
    padding: 40px;
    background-color: #fff;
    width: 400px;
    max-width: 100%;
    margin: auto;
    top: 5%;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}
.modal-wrapper .modal .close-modal{
    width: 42px;
    height: 42px;
    background-color: #0478fc;
    line-height: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
}
.modal-wrapper .modal .close-modal img{
    width: 20px;
}