/* You can add global styles to this file, and also import other style files */

* {
    box-sizing: border-box;
}

button,input{
    border: 0;
    outline: 0;
}

button:disabled{
    opacity: 0.5;
    cursor: auto;
}

img{
    max-width: 100%;
    border: 0;
}
body {
    font-family: 'Wix Madefor Display', sans-serif;
    font-size: 14px;
    color: #444;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    padding: 0 15px;
    margin: auto;
}

.txt-center {
    text-align: center;
}

.mb-4 {
    margin-bottom: 40px;
}

.topbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.topbar h1{
    font-size: 24px;
    color: #000;
}

label{
    display: block;
    margin-bottom: 4px;
}
.inputfield{
    border: 1px solid #ddd;
    height: 34px;
    width: 100%;
    border-radius: 6px;
    padding: 3px 14px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.field-group{
    margin-bottom: 20px;
}

.button{
    display: inline-block;
    padding: 10px 20px;
    background-color: #0478fc;
    color: #fff;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
}

.button.light-button{
    background-color: #ddd;
    color: #444;
}

.badge{
    padding: 3px 15px;
    border-radius: 18px;
    color: #fff;
    font-size: 12px;
}
.badge.success{
    background-color: #68b06d;
}

.ml-5{
    margin-left: 5px;
}

.success-msg{
    position: fixed;
    bottom: 20px;
    left: 10px;
    right: 10px;
    width: 400px;
    color: #fff;
    padding: 10px;
    background-color: #68b06d;
    margin: auto;
    max-width: 100%;
    z-index: 88;
}